@font-face {
  font-family: "InconsolataVariable";
  src: url("./assets/Inconsolata-VariableFont_wdth-wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --text: #6b6375;
  --bg: #fff;

  --sans: "InconsolataVariable", system-ui, sans-serif;
  --heading: "InconsolataVariable", system-ui, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --bg: #16171d;
  }
}

body {
  height: 100%;
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--sans);
}

#root {
  width: 1056px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text);
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

hr {
  border: 1.4px solid var(--rule);
  opacity: 1;
  margin-top: -10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}
